<html>
<head>
<title>Webhook</title>
</head>
<body>
<div>
  <form action="/send" method="post">
     <input type="text" name="name" placeholder="Name">
     <input type="text" name="email" placeholder="Email">
     <input type="submit" value="Submit"/>
  </form>
</div>
</body>
</html>